<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <label>name</label>
    <input type="text" id="name"/>
    <label>id</label>
    <input type="text" id="id" value="510131198603111532"/>
    <label>rcode</label>
    <input type="text" id="rcode"/>
    <img id="yzmdl" src="/guahao?path=/comm/code.php" width="50" height="19" align="absmiddle" class="register_yzm">
    <button id="submit">login</button>
    <button id="checkAuth">checkAuth</button>
    <a href="/guahao?url=http%3A%2F%2Fwww.bjguahao.gov.cn%2Fcomm%2Fcontent.php%3Fhpid%3D142%26keid%3D1010101%7C0000019">Detail</a>
    <script type="text/javascript" src="http://localhost:8081/js/logon.js"></script>
</body>
</html>