/*=======================翻页控件=================*/
a.fy {
border: 1px solid #B9B7B7;
text-decoration: none;
padding: 3px 7px;
margin: 1px;
font-family: Arial;
background: #fff;
color: #8B8A8A;
}
a.fy2 {
border: 1px solid #B9B7B7;
text-decoration: none;
padding: 3px 7px;
margin: 1px;
font-family: Arial;
background: #8B8A8A;
color: #fff;
font-weight: bold;
}
/*=======================翻页控件=================*/