/*======================富文本 编辑器================*/
.edtToolButton{min-width:20px;display:inline-block;}
.edtWrapper{width:100%;height:300px;border:1px solid #ccc;overflow:scroll;}
.clrPanel{position:absolute;width:155px;border:1px solid #ccc}
.clrBlock{width:15px;height:15px;border:1px solid #ccc; margin: 0px 2px 2px 0px;}

.ffPanel{position:absolute;width:130px;border:1px solid #ccc;}
.ffItem{width:120px;height:18px;line-height:18px;margin:0 5px;color:black;}
/*=======================富文本 编辑器=================*/