/* 去除一些默认样式 */
body{margin:0px;padding:0px;}
a{text-decoration:none;}
h1, h1 *{font-size:$fsz-h1;}
h2{font-size: $fsz-h2;}
h3, h3 *{font-size:$fsz-h3;}

.b{display:block;width:100%;}
.c{clear:both;}
.m0{margin:0px;}
.m5{margin:5px;}
.m10{margin:10px;}
.p0{padding:0px;}
.p10{padding:10px;}
.fl{float:left;}
.fr{float:right;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr30{margin-right:30px;}
.mt10{margin-top:10px;}
.mb5{margin-bottom:5px;}
.tac{text-align:center;}
.bgGray{background-color:#eee;}
.comList{list-style:none;padding:0px;}
.oa{overflow:auto;}
.dn{display:none;}
.ww{word-wrap:break-word;}

.contentWrapper{margin:20px;}
.editorWrapper{width:100%;height:300px;border:1px solid #ccc;overflow:scroll;}
.editor{width:100%;height:100%;}
.btn{position:relative;display:block;padding:0 18px;height:25px;line-height:25px;cursor:pointer;border:1px solid #ccc;border-radius:5px;box-shadow:-2px -2px 7px rgba(0,0,0,.5);}
.btn:hover{box-shadow:2px 2px 7px rgba(0,0,0,.5);top:-2px;left:-2px;}
.wordWrapper ul, .wordWrapper ol{padding-left:20px;}


/* 框架页面样式 */
/*==========================顶部工具条==================*/
.hdTrigger{position:fixed;top:0px;right:0px;z-index:101;margin: 0 15px 0px 10px;width:25px;height:34px;font-weight:bold;font-size:30px;text-align:center;line-height:35px;border:1px dotted #ccc;}
.headContent{display:block;position:fixed;height:35px;width:100%;z-index:100;background:rgba(200,200,200,.5);}
.loginBar{
    width:465px;margin:5px 0;line-height:25px;margin-right:50px;
    input{margin:2px 5px;background:transparent;}
    button{height:20px;line-height:20px;margin-top:2px;}
}
.logoutBar{margin-right:50px;}
/*==========================顶部工具条==================*/

/*==========================主面板======================*/
#main{display:block;width:980px;margin:0px auto;}
/*=========================顶部横幅=====================*/
.mt-theme{display:block;width:100%;height:100px;font-size: 25px; text-align: center; line-height: 100px; color: rgb(241,221,38);}
/*=========================顶部横幅=====================*/
/*=========================主题内容=====================*/
.content{display:block;width:100%;min-height:780px;}
/*======================左侧菜单栏=====================*/
.l-p{float: left; position:fixed;width: 180px;z-index:10;}
/*左侧首部信息框*/
.rd-p{display:block;width:100%;height:160px;}
/*==================菜单 列表==============*/
/*垂直菜单*/
.ver-menu{
    position:relative;
    dd{
        display:block;position:relative;margin:10px 20px;height:30px;text-align:center;line-height:30px;color:black;font-size:16px;
        a{display:block;color:black;width:100%;}
        &:hover{ 
            ul{display:block;}
        }
    }
    ul{
        display:none;position:absolute;left:140px;top:-5px;overflow:auto;z-index:100;padding:0px;margin:0px;
        li{background:white;margin:5px;}
        a{width:120px;}
    }
}
/*==================菜单 列表==============*/
/*======================左侧菜单栏======================*/
/*=====================右侧内容面板=====================*/
.r-p{float:right;width:780px;/*ie6 bug*/position:relative;}

/*=====================正文===============*/
/*正文列表*/
.mcontent-panel>ul{padding:0px;margin:0px;}
/*=====================正文===============*/
/*=====================右侧内容面板=====================*/
/*===================底部=================*/
#ft{display:block;width:100%;height:100px;}
/*===================底部=================*/
/*=========================主题内容=====================*/
/*==========================主面板======================*/